<footer>
  <div class="left-contact">
    <h3>Контакты</h3>
    <div class="left-contact-content">
      <span>E-mail:</span>
      <span><p>template@mail.ru</p><p>template2@mail.ru</p></span>	
      <span>Телефон:</span>
      <span>+7 (927) 123-45-78</span>	
      <span>Адрес:</span>
      <span><p>г.Саратов</p><p>ул. Колотушкина, д.7</p></span>
      <span>Обратная связь:</span>
      <span>
        <input type="text" placeholder="Ваше сообщение">
        <button style="justify-self: end;">Отправить</button>
      </span>
    </div>
  </div>
  <div class="right-contact">
    <div id="map" style="width: 100%; height: 100%;"></div>
  </div>
</footer>
