<div class="tab-content" id="submissions-tab">
  <h2>Непроверенные работы</h2>
  
  <div id="submissions-container">
    <div class="submissions-preloader">
      <div class="spinner"></div>
      <p>Загрузка непроверенных работ...</p>
    </div>
  </div>
</div>
