<aside class="filter-column admin-panel" id="filter-admin-panel">
    <h2>Добавить</h2>
    <form id="add-course-form" action="#" method="post">
        <label for="course-name">Название:</label>
        <input id="course-name" name="course-name">

        <label for="course-author">Автор:</label>
        <input id="course-author" name="course-author">

        <label for="course-category">Категория:</label>
        <select id="course-category" name="course-category">
            <option value="programming">Программирование</option>
            <option value="design">Дизайн</option>
            <option value="marketing">Маркетинг</option>
        </select>

        <label for="course-level">Уровень:</label>
        <select id="course-level" name="course-level">
            <option value="beginner">Начинающий</option>
            <option value="intermediate">Средний</option>
            <option value="advanced">Продвинутый</option>
        </select>
    </form>

    <button type="button" class="filter-button" id="submit-btn-admin">Применить</button>
</aside>
