<div class="course-card">
    <div class="course-card-flex">
        <span class="course-card-name"></span>
        <input type="text" name="course-card-name" placeholder="Введите текст..." class="course-card-input">
        <span class="course-card-author"></span>
        <input type="text" name="course-card-author" placeholder="Введите текст..." class="course-card-input course-card-author">
    </div>
</div>
