<aside class="filter-column" id="filter-form-panel">
    <h2>Фильтры</h2>
    <form id='filter-course-form' action="#" method="get">
        <label for="category">Категория:</label>
        <select id="category" name="category">
            <option value="all">Все</option>
            <option value="programming">Программирование</option>
            <option value="design">Дизайн</option>
            <option value="marketing">Маркетинг</option>
        </select>

        <label for="level">Уровень:</label>
        <select id="level" name="level">
            <option value="all">Все</option>
            <option value="beginner">Начинающий</option>
            <option value="intermediate">Средний</option>
            <option value="advanced">Продвинутый</option>
        </select>
    </form>

    <button type="submit" class="filter-button" id="filter-btn">Применить</button>
</aside>
