<section class="main-media-section">
    <h2>TRAIN YOUR BRAINS</h2>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <%- include('../../../partials/slider-item', {
                imgSrc: 'https://i.imgur.com/T4DYzJO.jpeg',
                imgAlt: 'Курс Веб-разработка',
                title: 'Web Development',
                content: 'Learn HTML, CSS, and JavaScript and build responsive, dynamic websites from scratch.'
            }) %>

            <%- include('../../../partials/slider-item', {
                imgSrc: 'https://i.imgur.com/VeQJzgz.png',
                imgAlt: 'Курс Анализ данных',
                title: 'Data Analysis',
                content: 'Master Python and the tools for data processing, visualization, and building ML models.'
            }) %>
            
            <!-- ... другие слайды ... -->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
