<section class="main-media-section">
    <h2>MainMediaSection</h2>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <%- include('../../../partials/slider-item', {
                imgSrc: 'https://i.imgur.com/T4DYzJO.jpeg',
                imgAlt: 'Курс Веб-разработка',
                title: 'Веб‑разработка',
                content: 'Изучите HTML, CSS и JavaScript, научитесь создавать адаптивные и динамичные сайты с нуля.'
            }) %>

            <%- include('../../../partials/slider-item', {
                imgSrc: 'https://i.imgur.com/VeQJzgz.png',
                imgAlt: 'Курс Анализ данных',
                title: 'Анализ данных',
                content: 'Овладейте Python и инструментами для обработки данных, визуализации и построения ML‑моделей.'
            }) %>
            
            <!-- ... другие слайды ... -->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
